
<imageViewer:>
  <div x-bind="click: _click" class="image-viewer">
    <div class="row">
      <div class="col-sm-9">
        <div class="btn-group">
          <button type="button" data-action="preview" class="btn btn-default {#if equal(:self.viewType, 'preview')} active{/}">Gallery</button>
          <button type="button" data-action="upload" class="btn btn-default {#if equal(:self.viewType, 'upload')} active{/}">Upload</button>
        </div>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-default pull-right" x-bind="click: addImages"><i class="icon-plus"></i>&nbsp;Add Images</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {#if equal(:self.viewType, 'preview') }
          <div class="row">
            {{#each @images}}
              <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img x-bind="click: imageClick" data-action="select" data-id="{{id}}" width=300 height=185 src="{{#if url}}{{url}}/convert?w=300&h=185&fit=crop{{else}}http://placehold.it/200x185/00000/ffffff{{/}}" alt="{{filename}}" class="img-responsive clickable image-thumbnail img-thumbnail">
              </div>
            {{/}}
          </div>
        {/}
        {#if equal(:self.viewType, 'table')}
          <div class="row">
            <div class="col-sm-12">
              <header>
                <button type="button" data-action="table" class="btn btn-default {#if equal(:self.viewType, 'table')} active{/}">List</button>
              </header>
              <table class="table">
                <thead>
                  <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Dimensions</td>
                    <td>Size</td>
                    <td>Created</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {#each @images}
                    <tr>
                      <td>
                        <!-- <img x-bind="click: _click, click: imageClick" data-action="select" data-id="{{id}}" width=50 height=50 src="{{#if url}}{{url}}/convert?w=50&h=50&fit=crop{{else}}http://placehold.it/50x50/00000/ffffff{{/}}" alt="{{filename}}" class="clickable image-thumbnail"> -->
                        <img x-bind="click: imageClick" data-action="select" data-id="{{id}}" width=50 height=50 src="{{#if url}}{{url}}/convert?w=50&h=50&fit=crop{{else}}http://placehold.it/50x50/00000/ffffff{{/}}" alt="{{filename}}" class="clickable image-thumbnail">
                      </td>
                      <td contentEditable="true">{.filename}</td>
                      <td>{{dimensions}}</td>
                      <td>{{size}}</td>
                      <td>{{createdAt}}</td>
                      <td>
                        <button class="image-remove btn-link btn btn-xs" x-bind="click: delete">X</button>
                      </td>
                    </tr>
                  {/}
                </tbody>
              </table>
            </div>
          </div>
        {/}
        {#if equal(:self.viewType, 'upload')}
          <div class="row">
            <div class="col-sm-12">
              <div id="drop_zone" class="drop-area {#if :self.active}active{/}" x-bind="drop: _drop, dragover: _dragover, dragleave: _dragleave">
                <h3 class="text-center">Drag a photo here</h3>
                <div class="drop-area-inner">
<!--                   <p class="text-center">
                    - or - 
                  </p>
                  <div style='height: 0px;width:0px; overflow:hidden;'>
                    <input type="file" id="files" name="files[]" multiple />
                  </div>
                  <p class="text-center">
                    <button class="btn btn-default" x-bind="click: _sudoFileInputClick">Select a photo from your computer</button>
                  </p>
 -->                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {#each @images}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <img x-bind="click: imageClick" data-action="select" data-id="{id}" data-filename="{name}" width=300 height=185 src="/-/images/{id}/-/scale_crop/300x185/center/{name}.png" alt="{filename}" class="img-responsive clickable image-thumbnail img-thumbnail">
                </div>
              {/}
            </div>
          </div>
        {/}
      </div>
    </div>
  </div>
