<login:>
  {#with :self}
    <form id="derby-auth-login" class="form-horizontal" method="POST" action="/login">

      <div class="form-group {#if .errors.email}has-error{/}">
        <label for="email" class="control-label col-md-2">Email</label>
        <div class="col-md-10">
          <!-- <input class="form-control" type="text" name="email" placeholder="Username" x-bind="blur:usernameBlur" value="{.email}"/> -->
          <input class="form-control" type="text" name="email" placeholder="Email" value="{.email}"/>
          <span class="help-block">{.errors.email}</span>
        </div>
      </div>

      <div class="form-group {#if .errors.password}has-error{/}">
        <label for="password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
          <input class="form-control" type="password" name="password" placeholder="Password" value="{.password}"/>
          <span class="help-block">{.errors.password}</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <a x-bind="click:showPasswordReset">Forgot Password</a>
          <br>
          <br>
        </div>
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Login" class="btn btn-default"/>
        </div>
      </div>
    </form>

    <form id="derby-auth-password-reset" class="form-horizontal" x-bind="submit: submitPasswordReset" method="post" style="display:none;" class="well">
      <h3>Email New Password</h3>

      <div class="alert alert-success">{.success.passwordReset}</div>

      <div class="form-group {#if .errors.passwordReset}has-error{/}">
        <input class="form-control" type="text" name="email" placeholder="Email" value="{.passwordResetEmail}"/>
        <span class="help-block">{.errors.passwordReset}</span>
      </div>

      <input type="submit" value="Submit" class="btn"/>
    </form>
  {/}
